<table>
  <tr>
    <th id="name">Name</th>
    <th id="homepage">Homepage</th>
    <th id="Link">Link</th>
  </tr>
  <% @authors.each do |author| %>
    <tr>
      <td><%= author.name %></td>
      <td><%= author.homepage %></td>
      <td><%= link_to 'Details', author_path(author) %></td>
    </tr>
  <% end %>
</table>
<a href=<%=new_author_path%>>New</a>